.button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 10px;
    font-size: 17px;

    border: none;
    outline: none;

    background-color: #35354e;
    color: white;

    border-radius: 3px;
    cursor: pointer;
}